[submodule "dep/arduino-cmake-ng"]
	path = dep/arduino-cmake-ng
	url = https://github.com/arduino-cmake/Arduino-CMake-NG.git
[submodule "dep/bundle"]
	path = dep/bundle
	url = https://github.com/TimNN/Kaleidoscope-Bundle-Keyboardio.git
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest.git
